html
  include head.pug
  style
    include ../css/app.css
  script
    include ../js/app.js
  body
    div.ui.grid#header
      div.sixteen.wide.column
        table.ui.inverted.teal.table
          tbody
            tr
              td.two.wide
                div.ui.action.left.labeled.input
                  div.ui.basic.label#balance= balance
                  input#amount(type="text" placeholder="Amount")
                  button.ui.button#addBalanceButton Add Balance
              td.right.aligned
                button.ui.button Portfolio
    div.ui.grid#dataView
      div.ten.wide.column
        table.ui.celled.table
          thead
            tr
              th Name
              th Price
              th Open
              th Close
              th Low
              th High
              th Volume
              th Buy
          tbody
            each object in stockData
              tr
                td(data-label='Name')= object.name
                td(data-label='Price')= object.price
                td(data-label='Open')= object.ohclv.o
                td(data-label='Close')= object.ohclv.c
                td(data-label='High')= object.ohclv.h
                td(data-label='Low')= object.ohclv.l
                td(data-label='Volume')= object.ohclv.v
                td(data-label='Buy')
                  button.ui.icon.button
                    i.shopping.cart.icon
      div.two.wide.column
        div.ui.vertical.divider Trade
      div.four.wide.column
        div.ui.card
          div.content
            div.header AAPL
          div.content
            p Some description if possible...
          div.content
            div.sub.header 22
          div.extra.content
            button.ui.button#buyButton Buy